body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  margin: 0 auto 20px;
}

.form__label {
  display: block;
  margin-bottom: 10px;

  text-align: center;
}

.form__input {
  width: 200px;
  padding: 5px;
}

.form__button {
  display: flex;
  align-self: end;
  padding: 5px;
}

.result {
  width: 500px;
  margin: 0 auto 20px;
}

.result__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.result__title {
  width: 30%;

  text-align: center;
  font-weight: bold;
}

.result__data {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 15px;
}

.result__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.result__item:last-child {
  margin-bottom: 0;
}

.result__item-date,
.result__item-distance,
.result__item-actions {
  width: 30%;

  text-align: center;
}

.result__item-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.result__item-actions span {
  cursor: pointer;
}